alembic
click
flask
flask-markdown
flask-migrate
flask-sqlalchemy
flask-wtf
itsdangerous
jinja2
markdown
markupsafe
pillow
pymysql
python-dateutil
python-editor
python-slugify
six
sqlalchemy
unidecode
werkzeug
wtforms
email_validator
WTForms-SQLAlchemy
python-dotenv
